* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

body {
    padding: 1rem 2rem;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    font-size: 24px;
    color: black;
}

a:hover {
    color: cadetblue;
}

section > div {
    margin-top: 1rem;
}

.message > p > span {
    font-weight: 700;
}

section > p {
    margin-top: .5rem;
}